```
# Unity specific
Library/
Temp/
Obj/
Build/
Builds/
*.unityproj
*.sln
*.csproj
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.unity
*.asset
*.meta
*.prefab
*.mat
*.anim
*.controller
*.cubemap
*.flare
*.fontsettings
*.giparams
*.physicMaterial
*.physicsMaterial2D
*.playable
*.renderTexture
*.shader
*.shadervariants
*.spriteatlas
*.terrain
*.tga
*.wav
*.mp3
*.ogg
*.unitypackage
[ProjectName].tmp
[ProjectName].tmpro
[ProjectName].stats
[ProjectName]_BackUpThisFolder_ButDontShipItWithYourGame/
[ProjectName]_Data/
[ProjectName].app/
[ProjectName].exe
[ProjectName].x86
[ProjectName].x86_64
[ProjectName].pdb
[ProjectName].aps
[ProjectName].pidb
[ProjectName].sync.db
[ProjectName].db
[ProjectName].apk
[ProjectName].aab
[ProjectName].unityweb
[ProjectName].data.unityweb
[ProjectName].html
[ProjectName].js
[ProjectName].wasm
[ProjectName].mem
[ProjectName].dat
[ProjectName].bin
[ProjectName].elf
[ProjectName].hex
[ProjectName].sym
[ProjectName].map
[ProjectName].ilk
[ProjectName].exp
[ProjectName].lib
[ProjectName].suo
[ProjectName].sdf
[ProjectName].opensdf
[ProjectName].userosscache
[ProjectName].scc
[ProjectName].pidb.meta
[ProjectName].meta
[ProjectName].cache
[ProjectName].coverage
[ProjectName].nupkg
[ProjectName].snupkg
[ProjectName].snk
[ProjectName].cer
[ProjectName].pfx
[ProjectName].p12
[ProjectName].key
[ProjectName].keystore
[ProjectName].jks
[ProjectName].pem
[ProjectName].crt
[ProjectName].csr
[ProjectName].der
[ProjectName].p7b
[ProjectName].p7c
[ProjectName].p7r
[ProjectName].p7s
[ProjectName].spc
[ProjectName].sst
[ProjectName].stl
[ProjectName].pvk
[ProjectName].pvk
[ProjectName].sps
[ProjectName].scf
[ProjectName].scr
[ProjectName].sys
[ProjectName].drv
[ProjectName].inf
[ProjectName].cat
[ProjectName].msi
[ProjectName].msp
[ProjectName].mst
[ProjectName].msm
[ProjectName].mcp
[ProjectName].mst
[ProjectName].msiexec
[ProjectName].msmexec
[ProjectName].msiexec.log
[ProjectName].msmexec.log
[ProjectName].msiexec.xml
[ProjectName].msmexec.xml
[ProjectName].msiexec.config
[ProjectName].msmexec.config
[ProjectName].msiexec.exe
[ProjectName].msmexec.exe
[ProjectName].msiexec.dll
[ProjectName].msmexec.dll
[ProjectName].msiexec.pdb
[ProjectName].msmexec.pdb
[ProjectName].msiexec.xml
[ProjectName].msmexec.xml
[ProjectName].msiexec.config
[ProjectName].msmexec.config
[ProjectName].msiexec.exe
[ProjectName].msmexec.exe
[ProjectName].msiexec.dll
[ProjectName].msmexec.dll
[ProjectName].msiexec.pdb
[ProjectName].msmexec.pdb
[ProjectName].msiexec.xml
[ProjectName].msmexec.xml
[ProjectName].msiexec.config
[ProjectName].msmexec.config
[ProjectName].msiexec.exe
[ProjectName].msmexec.exe
[ProjectName].msiexec.dll
[ProjectName].msmexec.dll
[ProjectName].msiexec.pdb
[ProjectName].msmexec.pdb
[ProjectName].msiexec.xml
[ProjectName].msmexec.xml
[ProjectName].msiexec.config
[ProjectName].msmexec.config
[ProjectName].msiexec.exe
[ProjectName].msmexec.exe
[ProjectName].msiexec.dll
[ProjectName].msmexec.dll
[ProjectName].msiexec.pdb
[ProjectName].msmexec.pdb
[ProjectName].msiexec.xml
[ProjectName].msmexec.xml
[ProjectName].msiexec.config
[ProjectName].msmexec.config
[ProjectName].msiexec.exe
[ProjectName].msmexec.exe
[ProjectName].msiexec.dll
[ProjectName].msmexec.dll
[ProjectName].msiexec.pdb
[ProjectName].msmexec.pdb
[ProjectName].msiexec.xml
[ProjectName].msmexec.xml
[ProjectName].msiexec.config
[ProjectName].msmexec.config
[ProjectName].msiexec.exe
[ProjectName].msmexec.exe
[ProjectName].msiexec.dll
[ProjectName].msmexec.dll
[ProjectName].msiexec.pdb
[ProjectName].msmexec.pdb
[ProjectName].msiexec.xml
[ProjectName].msmexec.xml
[ProjectName].msiexec.config
[ProjectName].msmexec......
```