```
# Unity specific ignores
Library/
Temp/
Obj/
Build/
Logs/
*.unityproj
*.sln
*.csproj
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.cache
*.meta
*.prefab
*.asset
*.unitypackage
[Tt]humbs.db
.DS_Store
```